<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="sidebar-search">
                <div class="input-group custom-search-form">
                    <!-- Search by Category, Product, Customer, Settings(!!) -->
                    <input type="text" class="form-control" placeholder="Looking for something?">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
                </div>
                <!-- /input-group -->
            </li>
            <li>
                <a href="developer" class="list-group-item-danger"><i class="fa fa-bug fa-fw"></i> Developer Mode</a>
            </li>
            <li>
                <a href="index.html"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
            </li>
            <li>
                <a href="orders"><i class="fa fa-shopping-cart fa-fw"></i> Orders<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="orders/today">Today <span class="label label-success">10</span></a>
                    </li>
                    <li>
                        <a href="orders/pending">Pending <span class="label label-success">10</span></a>
                    </li>
                    <li>
                        <a href="orders/shipped">Shipped <span class="label label-success">104</span></a>
                    </li>
                    <li>
                        <a href="orders/complete">Complete <span class="label label-default">12,024</span></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="customers"><i class="fa fa-smile-o fa-fw"></i> Customers</a>
            </li>
            <li>
                <a href="products"><i class="fa fa-asterisk fa-fw"></i> Products</a>
            </li>
            <li>
                <a href="categories"><i class="fa fa-sitemap fa-fw"></i> Categories</a>
            </li>
            <li>
                <a href="cms"><i class="fa fa-files-o fa-fw"></i> CMS<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="cms/blocks"><i class="fa fa-th-large fa-fw"></i> Blocks</a>
                    <li>
                    <li>
                        <a href="cms/sliders"><i class="fa fa-play fa-fw"></i> Sliders</a>
                    <li>
                        <a href="cms/pages"><i class="fa fa-file-text fa-fw"></i> Pages <span class="fa arrow"></span></a>
                        <ul class="nav nav-third-level">
                            <li>
                                <a href="cms/pages/homepage">Homepage</a>
                            </li>
                            <li>
                                <a href="cms/pages/about-us">About Us</a>
                            </li>
                            <li>
                                <a href="cms/pages/example-page-1">Example Page 1</a>
                            </li>
                        </ul>
                        <!-- /.nav-third-level -->
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="promotions"><i class="fa fa-bullhorn fa-fw"></i> Promotions</a>
            </li>
            <li>
                <a href="reports"><i class="fa fa-bar-chart-o fa-fw"></i> Reports</a>
            </li>
            <li>
                <a href="reviews"><i class="fa fa-comments-o fa-fw"></i> Reviews<span class="fa arrow"></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="orders/today">Pending <span class="label label-warning">18</span></a>
                    </li>
                    <li>
                        <a href="orders/pending">Approved <span class="label label-default">2517</span></a>
                    </li>
                </ul>
                <!-- /.nav-second-level -->
            </li>
            <li>
                <a href="plugins"><i class="fa fa-bolt fa-fw"></i> Plugins<span class="fa arrow"></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="plugins/manage"><i class="fa fa-ellipsis-h fa-fw"></i> Manage Plugins</a>
                    <li>
                    <li>
                        <a href="plugins/find"><i class="fa fa-cloud-download fa-fw"></i> Find New Plugins</a>
                    <li>
                </ul>
            </li>
            <li>
                <a href="configuration"><i class="fa fa-wrench fa-fw"></i> Configuration<span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="configuration/admin"><i class="fa fa-lock fa-fw"></i> Admin</a>
                    <li>
                    <li>
                        <a href="configuration/payment"><i class="fa fa-laptop fa-fw"></i> Appearance</a>
                    <li>
                    <li>
                        <a href="configuration/customer/groups"><i class="fa fa-group fa-fw"></i> Customer Groups</a>
                    <li>
                    <li>
                        <a href="configuration/customer/attributes"><i class="fa fa-edit fa-fw"></i> Customer Attributes</a>
                    <li>
                    <li>
                        <a href="configuration/developer"><i class="fa fa-bug fa-fw"></i> Developer</a>
                    <li>
                    <li>
                        <a href="configuration/email"><i class="fa fa-envelope fa-fw"></i> Email Templates</a>
                    <li>
                    <li>
                        <a href="configuration/languages"><i class="fa fa-globe fa-fw"></i> Languages</a>
                    <li>
                    <li>
                        <a href="configuration/stores"><i class="fa fa-flag-checkered fa-fw"></i> Manage Stores</a>
                    <li>
                    <li>
                        <a href="configuration/payment"><i class="fa fa-credit-card fa-fw"></i> Payment Methods</a>
                    <li>
                    <li>
                        <a href="configuration/product/attributes"><i class="fa fa-tags fa-fw"></i> Product Attributes</a>
                    <li>
                    <li>
                        <a href="configuration/payment"><i class="fa fa-graduation-cap fa-fw"></i> Store Rewards</a>
                    <li>
                    <li>
                        <a href="configuration/security"><i class="fa fa-legal fa-fw"></i> Security</a>
                    <li>
                    <li>
                        <a href="configuration/payment"><i class="fa fa-truck fa-fw"></i> Shipping Methods</a>
                    <li>
                    <li>
                        <a href="configuration/system"><i class="fa fa-gears fa-fw"></i> System Settings</a>
                    <li>
                    <li>
                        <a href="configuration/payment"><i class="fa fa-suitcase fa-fw"></i> Taxes</a>
                    <li>
                </ul>
            </li>
            <li>
                <a href="help"><i class="fa fa-life-ring fa-fw"></i> Help</a>
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->