
.footer {
  text-align:center;
  color:#999;
  margin-top:20px;
}
.footer p {
	font-size:12px;
	margin-bottom:0;
}
.footer p.dark {
	color:#111;
}
.footer p span.build {
	font-style: italic;
}
.form-container {
	width:50%;
	padding:20px;
	float:left;
}
.form-container h3 {
	margin-bottom:20px;
}
.hype-title .label {
	font-size:28%;
	vertical-align: middle;
}
.header {
}
.well h3 {
	margin-left:20px;
}