/**
 * Hype Commerce
 *
 * @package		Hype
 * @version		0.0.1
 * @author		Hype Commerce Team <team@hypejs.com>
 * @copyright	Copyright (c) 2014, Hype Commerce, Inc. (http://www.hypejs.com/)
 * @license		http://www.hypejs.com/license
 */
 
var config;

config = {
	hype: {
		version: "{version}",
		install: "{install}",
		secret: "{secret}",
		environment: "{environment}",
		theme: "{theme}"
	},
	server: {
		development: {
			url: "{server_development_url}",
			port: {server_development_port},
			db: {
				type: "{server_development_db_type}",
				connection: {
					host: "{server_development_db_connection_host}",
					username: "{server_development_db_connection_user}",
					password: "{server_development_db_connection_pass}",
					port: {server_development_db_connection_port},
					dbname: "{server_development_db_connection_dbname}"
				}
			},
			session: {
				storage: "{server_development_session_storage}"
			}
		},

		staging: {
			url: "{server_staging_url}",
			port: {server_staging_port},
			db: {
				type: "{server_staging_db_type}",
				connection: {
					host: "{server_staging_db_connection_host}",
					username: "{server_staging_db_connection_user}",
					password: "{server_staging_db_connection_pass}",
					port: {server_staging_db_connection_port},
					dbname: "{server_staging_db_connection_dbname}"
				}
			},
			session: {
				storage: "{server_staging_session_storage}"
			}
		},

		production: {
			url: "{server_production_url}",
			port: {server_production_port},
			db: {
				type: "{server_production_db_type}",
				connection: {
					host: "{server_production_db_connection_host}",
					username: "{server_production_db_connection_user}",
					password: "{server_production_db_connection_pass}",
					port: {server_production_db_connection_port},
					dbname: "{server_production_db_connection_dbname}"
				}
			},
			session: {
				storage: "{server_production_session_storage}"
			}
		}
	}
}

module.exports = config;