<div class="container">
	<ol class="breadcrumb">
	  <li><a href="#">Store</a></li>
	  <li class="active">Database</li>
	  <li class="active">Server</li>
	  <li class="active">Plugins</li>
	  <li class="active">Review</li>
	</ol>
</div>