<div class="container">
	<ol class="breadcrumb">
	  <li><a href="#">Your Account</a></li>
	  <li class="active">Connect Database</li>
	  <li class="active">Setup Server</li>
	  <li class="active">Configure Plugins</li>
	  <li class="active">Review</li>
	</ol>
</div>