<div class="header container">
	<h1 class="hype-title">Hype Commerce <span class="label label-info">1.0.0-rc1</span></h1>
	<p class="help-block">A hyper-fast, omni-channel, modular eCommerce solution</p>
</div>