<div class="header container text-center">
	<h1 class="hype-title">Hype Commerce <span class="label label-info">0.0.1-rc1</span></h1>
	<p class="text-muted">A hyper-fast, omni-channel, modular eCommerce solution</p>
</div>