<div class="container">
	<form role="form">
		<div id="current-step"></div>
		<button class="btn btn-default prev-step">Prev Step</button>
		<button class="btn btn-info next-step">Next Step</button>
	</form>
</div>