<div class="col-lg-6 col-lg-offset-3">

	<div class="well clearfix">
		<h4>Database</h4>
		<p>Select the type of Database you wish to use and fill in the credentials <strong>If you do not know your database credentials please contact your system administrator for more information.</strong></p>
		<hr/>
		<div class="form-group pull-left">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="radio" name="db" value="mysql"/> MySQL
					</label>
				</div>
			</div>
		</div>
		<div class="form-group pull-left">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="radio" name="db" value="mongo" checked="checked" /> MongoDB
					</label>
				</div>
			</div>
		</div>
		<div class="form-group pull-left">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="radio" name="db" value="couch" disabled="disabled"/> CouchDB
					</label>
				</div>
			</div>
		</div>
		<div class="form-group pull-left">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="radio" name="db" value="maria" disabled="disabled"/> MariaDB
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Host</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="http://localhost">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Port</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="9090">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Database</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="hype_db">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Username <span class="text-muted">(optional)</span></label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Password <span class="text-muted">(optional)</span></label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="">
		</div>
		<hr/>
		<div class="form-group">
			<button class="next-step btn btn-info pull-right">Next Step ></button>
			<button class="prev-step btn btn-default pull-right">< Previous Step</button>
		</div>
	</div>
</div>