<div class="col-lg-6 col-lg-offset-3">

	<div class="well clearfix">
		<h4>Plugins</h4>
		<p>Customize how your store runs by omitting or selecting default plugins. You can add more at any point later on</p>
		<hr/>
		
		<div class="form-group">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="db" value="express" checked="checked" /> <strong>Customer</strong>
					</label>
				</div>
			</div>

			<div class="form-group pull-left">
				<div class="col-sm-12">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="db" value="express" checked="checked" /> Store Credit
						</label>
					</div>
				</div>
			</div>
			<div class="form-group pull-left">
				<div class="col-sm-12">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="db" value="express" checked="checked" /> Gift Card
						</label>
					</div>
				</div>
			</div>

		</div>
		<div class="form-group clearfix">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="checkbox" name="db" value="ember"/> <strong>Shipping</strong>
					</label>
				</div>
			</div>
			<div class="form-group pull-left">
				<div class="col-sm-12">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="db" value="ember"/> UPS
						</label>
					</div>
				</div>
			</div>
			<div class="form-group pull-left">
				<div class="col-sm-12">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="db" value="ember"/> FedEx
						</label>
					</div>
				</div>
			</div>
			<div class="form-group pull-left">
				<div class="col-sm-12">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="db" value="ember"/> DHL
						</label>
					</div>
				</div>
			</div>
			<div class="form-group pull-left">
				<div class="col-sm-12">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="db" value="sails"/> USPS
						</label>
					</div>
				</div>
			</div>
		</div>
		<hr/>
		<div class="form-group">
			<button class="next-step btn btn-info pull-right">Next Step ></button>
			<button class="prev-step btn btn-default pull-right">< Previous Step</button>
		</div>
	</div>
</div>