<div class="col-lg-6 col-lg-offset-3">

	<div class="well clearfix">
		<h4>Review</h4>
		<p><strong>Ensure all the information below is correct before clicking "Build Store"</strong></p>
		<hr/>
		<h4>Account</h4>
		<p>
			<strong>Username:</strong> tlackemann<br/>
			<strong>Email:</strong> tom@hypejs.com<br/>
			<strong>Password:</strong> ********<br/>
		</p>

		<h4>Database</h4>
		<p>
			<strong>Type:</strong> MongoDB<br/>
			<strong>Host:</strong> localhost<br/>
			<strong>Port:</strong> 3306<br/>
			<strong>Database:</strong> hype_development<br/>
			<strong>Username:</strong> root<br/>
			<strong>Password:</strong> ****<br/>
		</p>

		<h4>Server</h4>
		<p>
			<strong>Type:</strong> Express<br/>
			<strong>Domain:</strong> http://localhost<br/>
			<strong>Port:</strong> 4973<br/>
		</p>
		<hr/>
		<div class="form-group">
			<button class="btn btn-lg btn-info">Build Store</button>
		</div>
	</div>
</div>