<div class="well clearfix">
	<h3>3.Server</h3>
	
	<div class="col-md-6">
		<div class="form-group">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="radio" name="db" value="express" checked="checked" /> Express
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="radio" name="db" value="sails" disabled="disabled"/> Sails
					</label>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-12">
				<div class="checkbox">
					<label>
						<input type="radio" name="db" value="ember" disabled="disabled"/> Ember
					</label>
				</div>
			</div>
		</div>
  	</div>
  	<div class="col-md-6">
		<div class="form-group">
			<label for="hypeStoreName">Store URL</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="http://localhost">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Port</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="4973">
		</div>
  	</div>
</div>