<div class="col-lg-6 col-lg-offset-3">

	<div class="well clearfix">
	<h4>Your account</h4>
	<p>This account will be used to access the administration panel. The account will be granted all permissions and will be able to perform critical functions such as create, edit, and delete stores, products, categories, and much more. <strong>Do not share this account with anyone, you will be able to create new users later</strong></p>
	<hr/>
		<div class="form-group">
			<label for="hypeStoreName">Your Name</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="Store Owner">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Your Email</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="owner@examplehypestore.com">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Password</label>
			<input type="password" class="form-control" id="hypeStoreName" placeholder="">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Repeat Password</label>
			<input type="password" class="form-control" id="hypeStoreName" placeholder="">
		</div>
		<hr/>
		<div class="form-group">
			<button class="next-step btn btn-info pull-right">Next Step ></button>
		</div>
	</div>
</div>