<!-- Page 1 -->
<div class="well clearfix">
	<h3>1. Setup Store</h3>
	
	<div class="col-md-6">

		<div class="form-group">
			<label for="hypeStoreName">Store Name</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="My Example Store">
			<p class="help-block">Don't worry, you can change this later</p>
		</div>
  	</div>
  	<div class="col-md-6">
		<div class="form-group">
			<label for="hypeStoreName">Store URL</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="http://www.examplehypestore.com/">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Admin URL</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="http://www.examplehypestore.com/hype/">
		</div>
  	</div>
</div>
<div class="well clearfix">
	<h3>2. Setup Admin User</h3>
	
	<div class="col-md-6">

		<div class="form-group">
			<label for="hypeStoreName">Your Name</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="Store Owner">
		</div>
  	</div>
  	<div class="col-md-6">
		<div class="form-group">
			<label for="hypeStoreName">Your Email</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="owner@examplehypestore.com">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Password</label>
			<input type="password" class="form-control" id="hypeStoreName" placeholder="">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Repeat Password</label>
			<input type="password" class="form-control" id="hypeStoreName" placeholder="">
		</div>
  	</div>
</div>