<div class="col-md-8">
	<h3>Setup Your Account</h3>
	<div class="well well-lg clearfix">
		<div class="form-group">
			<label for="hypeStoreName">Your Name</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="Store Owner">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Your Email</label>
			<input type="text" class="form-control" id="hypeStoreName" placeholder="owner@examplehypestore.com">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Password</label>
			<input type="password" class="form-control" id="hypeStoreName" placeholder="">
		</div>
		<div class="form-group">
			<label for="hypeStoreName">Repeat Password</label>
			<input type="password" class="form-control" id="hypeStoreName" placeholder="">
		</div>
		<div class="form-group">
			<button class="btn btn-info">Add User</button>
		</div>
	</div>
</div>
<div class="col-md-4 well well-lg">
	<h4>Progress</h4>
	<div class="">
	</div>
</div>